<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/image.css') }}" />
</head>
<body>
    <div class="alert alert-dark" role="alert">
        <h2>Миссия Колонизация Марса</h2>
    </div>
    <h4>И на Марсе будут яблони цвести!</h4>

    {% block content %}
    {% endblock %}

</body>
</html>