{% extends "base.html" %}
{% block content %}
<h2 align="center">Works log</h2>
{% set columns = ['Название работы', 'фамилия и имя ответственного',
'продолжительность в часах', 'список id команды', 'завершена или нет'] %}

{% for job in jobs_data %}
<caption>Action #{{loop.index}}</caption>
<table class="table table-bordered">
    <thead>
        <tr>
            {% for column in columns %}
                <th>{{column}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{job.job}}</td>
            <td>{{job.user.surname}} {{job.user.name}}</td>
            <td>{{job.work_size}}</td>
            <td>{{job.collaborators}}</td>
            <td>{% if job.is_finished %} is finished {% else %} is not finished {% endif %}</td>
        </tr>
    </tbody>
</table>
{% endfor %}

{% endblock %}
